@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}
/*background*/
body {
	height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*header de formulario*/
.header {
	border-bottom: 1px solid #000000;
	background-color: #ffffff;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
	width: 300px;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}
/*bordes de los cuadritos*/
.form-control input {
	border: 2px solid #cec8c8;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
    
    
}
/*color del evento de recuadro*/
.form-control input:focus {
	outline: 0;
	border-color: #777;
}
/*colores de errores*/
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}
/*header de formulario*/
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
    
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #4454ad;
	border: 2px solid #6180c2;
	border-radius: 4px;
	color: #fffdfd;

	font-family: inherit;
	
	
	
	
}

.img2{
	height: 75px;
	
}

.boton-nocuenta{
	background-color: #4454ad;
	border: 2px solid #6180c2;
	border-radius: 4px;
	color: #fffdfd;
	
	font-family: inherit;
	
}